/* Grid */
.header-template {
  display: grid;
  align-items: center;
  justify-items: center;
  background: var(--cor-p1);
  grid: "header-title header-menu header-user";
}
/* Grid-areas */
.header-title {
  grid-area: header-title;
}
.header-menu {
  grid-area: header-menu;
}
.header-user {
  grid-area: header-user;
}
/* Estilos - header-template */
.header-title {
  font-size: 1.2rem;
  color: var(--cor-1);
}
.header-template .header-user {
  color: var(--cor-1);
}

/* Sub-grid-areas */
.header-menu-template {
  display: flex;
  gap: 3px;
  text-transform: uppercase;
}
.home {
  grid-area: home;
}
.mensagem {
  grid-area: mensagem;
}
.agenda {
  grid-area: agenda;
}
.conta {
  grid-area: conta;
}
.coleta {
  grid-area: coleta;
}
/* Estilos - header-menu-template */
.header-menu-template li {
  align-self: center;
  justify-self: center;
}
.header-menu-template a {
  display: block;
  font-size: 1.1rem;
  padding: 10px;
  color: white;
  border-radius: 4px;
  transition: 0.15s;
}
.header-menu-template a:hover {
  background: var(--cor-p8);
  padding: 10px;
}

/* RESPONSIVO */
@media (max-width: 1050px) {
  .header-menu-template li {
    margin: 2px;
  }
  .header-menu-template a {
    text-decoration: none;
    background-color: var(--cor-p2);
  }
}

@media (max-width: 715px) {
  .container-template {
    grid:
      "header" 75px
      "main" 1fr;
  }
  .header-title {
    justify-self: end;
  }
  .header-user {
    justify-self: end;
  }
  .header-template {
    padding: 5px;
    gap: 5px;
    grid:
      "header-title header-user" 20px
      "header-menu header-menu";
  }
  .header-title {
    font-size: 0.8rem;
  }
  .header-menu-template a {
    text-decoration: none;
    background-color: var(--cor-p2);
  }
}

/* Grid */
/*.header-template {
  background: linear-gradient(135deg, var(--cor-p1), var(--cor-p2));
  display: grid;
  align-items: center;
  justify-items: center;
  grid: "header-menu header-title header-user";
}
/* Grid-areas */
/*.header-title {
  grid-area: header-title;
}

.header-menu {
  grid-area: header-menu;
}

.header-user {
  grid-area: header-user;
}
*/
